{erl_opts, [debug_info]}.
{cover_enabled, true}.
{deps,
    [
        {cowboy, "1.0.4",
            {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
        {jsx, "2.8.0",
            {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}}
    ]
}.
{edoc_opts, [
    {todo,true},
    {def,[{version, "0.3.0"}]}
]}.
{template_dir, "support/templates"}.
