[
    {supercast,
        [
            {auth_module,   supercast_auth_dev}, % allways true
            {acctrl_module, supercast_acctrl_rbac},

            % if a PDU come from client with key, switch it to the module
            % implementing the supercast_module_behaviour.
            {pdu_dispatch,
                [
                    % {supercast_module_behaviour, key}
                      {monitor_commander, "dummy_commander"}
                ]
            },

            % this is the initial list of channels for the client. It must be
            % the entry point for all other channels. For example, once
            % the client subscribe to the monitor channel, this one will
            % tell the client wich chan he knows about, and wich chans
            % disapear. This module can also be a simple "beha_supercast_channel"
            % module.
            {main_channels, []},
            {http_port,     8080},
            {http_docroot,  "priv"},
            {tcp_port,      9758}
        ]
    }
].
